@import "../../../../../styles/helpers/variables";
@import "../../../../../styles/helpers/mixins";
@import "../../../../../styles/components/components";

.content {
  .the-main-box {
    .box {
      @media #{$max_767} {
        background: none;
        padding: 0;
        border-radius: unset;
        box-shadow: none;
      }

      .box-content {
        @media #{$max_767} {
          margin-bottom: auto;
        }

      }
    }
  }
}